.item.left
  = link_to("Users", users_url)
.item.left
  = link_to("One Way Trips", one_way_trips_url)
.item.left
  = link_to("Connections", connections_url)
.item.left
  = link_to("Stations", stations_url)
.item.left
  = link_to("Vehicles", vehicles_url)
